div{
    border: 1px solid black;
}
img{
	width:160px;
	height:170px;
}
a:hover{
	text-decoration: underline;
	font-size:110%;
}

.cls,.mainmiddleright{
    float: left;

}
.cls{
    width: 250px;
}
.mainmiddleright{
	width:680px;
}

.nav ul li{
    float: left;
    padding-left: 20px;
}
.ppt{
    width: 600px;
    height: 300px;
    margin-left:32px;
    border:none;
}
.jtcb,.zbys{
    height: auto;
}
.rank ul{
   
}
.rank ul li{
    float: left;
    width:20%;
    
   
}

.zbys ul li{
    float: left;
    padding-left: 30px;
}

.yybj ul li{
    float: left;
    padding-left: 30px;
}
.yybjimg,.yybj ul{
    float: left;
}

.zbysimg,.zbys ul{
    float: left;
}
